.weekly {
    display:flex;
    justify-content:space-between;
    width:80%;
    margin-top:5%;
    margin-left:170px;

    a {
        color:$hover-link-color;

        &:hover {
            color:dodgerblue;
        }
    }
}

#weekly img {
    height:155px;
    border-radius:3px;
}

#weekly img:hover {
    border:$primary-border-style;
}

#guide img {
    height:155px;
    border-radius:3px;

    &:hover {
        border:$primary-border-style;
    }
}

#guide img:hover {
    border:$primary-border-style;
}

#loop p {
    font-size:.9em;
}

#email {
    border-radius:2px;
    padding:2px;
}

#sub {
    border:$primary-border-style;
    background-color:$hover-link-color;
    border-radius:2px; 
    color:$font-color;
    padding: 3px 5px 3px 5px;
    text-transform:uppercase;
}

#sub:hover {
    background-color:#318fe0;
}

#some {
    float:left;
    width:67%;
}