/* main */
.ties {
    display:block;
    background-color:#F4F4F4;
    padding-bottom:1%; 
    position:relative; 

    ul{
        display:flex;
        justify-content:space-between;
        list-style-type: none;
        width:860px;
        margin-left:20%;
    }   

    img {
        display:flex;
        justify-content:space-between;
        height:155px;
    }
}

h1 {
    text-align:center;
    font-size:3em;
    font-weight:lighter;
    margin-top:6%;
}


/* bow ties bar */
.triple {
    margin-top:10%;
    background-color:$font-color;

    ul {
         margin-left:75px;

        li {
            color:black;
            display:flex;
            justify-content:space-between;
            margin-left:11%;
            width:33%;

                img {
                border:$primary-border-style;
                padding: 2px 5px 2px 5px;
                }

        img {
            height:200px;
            border-radius:2px;
            position:relative;
            z-index:0;
            }
            }
        }
    h2 {
        position:absolute;
        margin-left:200px;
        z-index:5;
}
}

/* story section */
#story {
    text-align:center;  
    margin-top:10%;

    p {
        font-size:2em;
    }

    a {
        text-transform:uppercase;
        font-size:1em;
        color:$hover-link-color;
    }

    a:hover {
        color:dodgerblue;
    }

    ul li img:hover {
        border:$primary-border-style;
    }
}

